* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #666;
    min-height: 5000px;
}
header {
    /* background-image: url('images/main.jpg'); */
    background-position: center center;
    background-size: cover;
    position: relative;
}
nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    letter-spacing: .2em;
    line-height: 1;
    padding: 30px;
}
nav ul {
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    padding: 0 10px;
    display: inline-block;
}
nav li:last-child {
    border-right: none;
}
nav li a {
    padding: 10px;
    color: white;
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    font-family:'Raleway', sans-serif, Helvetica, Verdana;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}
nav li a:hover {
    background-color: rgba(40, 40, 40, 0.5);
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -webkit-font-smoothing: antialiased;
}
.logo {
    width: 200px;
    display: block;
    float: left;
    font-size: 1.8em;
    font-weight: 800;
    text-decoration: none;
    color: #FFFFFF;
    font-family:'Raleway', sans-serif, Helvetica, Verdana;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}
.logo a {
    font-size: 1.8em;
    font-weight: 800;
    text-decoration: none;
    color: #FFFFFF;
    font-family:'Raleway', sans-serif, Helvetica, Verdana;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}
.clears {
    clear: both;
}
.maintext {
    padding-top: 90px;
    margin: 200px auto;
    width: 600px;
    text-align: center;
    color: white;
}
.maintext h1 {
    font-weight: 600;
    font-size: 1.8em;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #FFFFFF;
    font-family:'Raleway', sans-serif, Helvetica, Verdana;
    padding-bottom: 15px;
}
.maintext h2 {
    font-weight: 400;
    font-size: 1.7em;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    color: #FFFFFF;
    font-family:'Raleway', sans-serif, Helvetica, Verdana;
    padding-bottom: 15px;
}
main {
    max-width: 1180px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}
.whatwedohd {
    text-align: center;
    font-weight: 400;
    font-size: 1.7em;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000000;
    font-family:'Raleway', sans-serif, Helvetica, Verdana;
    -webkit-font-smoothing: antialiased;
}
.whatwedobox {
    width: 30%;
    height: 300px;
    border: 1px solid blue;
    float: left;
    margin-right: 5%;
    padding: 20px;
    margin-top: 20px;
}
.whatwedobox.three {
    margin-right: 0;
}